<h1>新規投稿画面</h1>

<%= form_with model: @movie, url: public_movies_path, local: true do |form| %>

<p><%= form.label :title %><br>
<%= form.text_field :title %> 
</p>

<p><%= form.label :body %><br>
<%= form.text_area :body %> 
</p>

<p><%= form.submit %> 
</p>

<% end %>

