<div>
  <% if @user == current_user %>
  <h3><%= @user.nickname %></h3>
  <p class="text-small"><%= link_to @user.followings.count, followings_public_user_path(@user) %> フォロー <%= link_to @user.followers.count, follower_public_user_path(@user) %> フォロワー</p>
  <%= image_tag @user.get_profile_image(100,100) %>
  <% if @user.age.present? %> &nbsp;<%= @user.age %>代 <% end %>
  &nbsp;<%= @user.gender %></p>
  <p>自己紹介</p>
  <p><%= @user.introduction %></p>
  <p><%= link_to "プロフィール編集", edit_public_user_path %></p>
  <% else %>
  <% if @user.is_followed_by?(current_user) %>
  <%= link_to public_user_relationships_path(@user), method: :delete do %>
      <button class="btn btn-danger">フォロー解除</button>
      <% end %>
      <% else %>
    <%= link_to public_user_relationships_path(@user), method: :post do %>
      <button class="btn btn-primary">フォロー</button>
    <% end %>
    <% end %>
  <% end %>
  
  
</div>




<!-- ユーザーの投稿一覧 -->

<% @movies.each do |movie| %>
<div>
  <%= link_to public_user_path(movie.id) do %>
    <%= image_tag movie.get_image %>
  <% end %>
  <p>投稿ユーザー画像：<%= image_tag movie.user.get_profile_image(100,100) %></p>
  <p>作品名：<%= movie.title %></p>
  <p>説明：<%= movie.body %></p>
  <p>ユーザーネーム：<%= movie.user.nickname %></p>
  <p><%= link_to "#{movie.movie_comments.count} コメント", public_movie_path(movie.id) %></p>
</div>
<% end %>